<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
		<link rel='stylesheet' href='/stylesheets/style.css' />
		<title><%= title %></title>
	</head>
	<body>
		<h1>冰彬领域之NodeJS聊天室</h1>
		<hr />
		<button id='enter' type="button" onclick='window.location.href="/chat"' class="btn btn-info btn-lg home-btn">
			点击加入聊天 <span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span>
		</button>
		<button id='getlist' type="button" onclick='window.location.href="/list"' class="btn btn-info btn-lg home-btn">
			查看在线列表 <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
		</button>
		<script type="text/javascript" src="http://blogparts.giffy.me/0013/parts.js"></script>
		<script src="/socket.io/socket.io.js"></script>
		<script src="/javascripts/jquery.min.js"></script>
		<script src="/javascripts/bootstrap.min.js"></script>
		<script>

		</script>
	</body>
</html>
