* {
	box-sizing: border-box;
}

html {
	font-weight: 300;
	-webkit-font-smoothing: antialiased;
}

html, input {
	font-family:
	"HelveticaNeue-Light",
	"Helvetica Neue Light",
	"Helvetica Neue",
	Helvetica,
	Arial,
	"Lucida Grande",
	sans-serif;
}

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

h1 {
	text-align: center;
}

/*首页*/
.home-btn {
	position: relative;
	margin-top: 10%;
	margin-left: 45.5%;
}

/*在线用户页面*/
#list { 
	font: 20px Helvetica, Arial; 
	color:#48D1CC; 
	list-style-type: none; 
	padding: 10px 20px 10px 20px;
	margin: 0;
}
#list li { 
	font: 20px Helvetica, Arial; 
	padding: 10px 15px; 
	color:#48D1CC; 
}
#list li:nth-child(odd) { 
	background: #48D1CC;
	color:#FFFFFF; 
}

/*聊天页面*/
.msgArea {
	height: 100%;
	padding-bottom: 60px;
}

#messages {
	height: 100%;
	margin: 0;
	overflow-y: scroll;	/*很关键*/
	padding: 10px 20px 10px 20px;
	list-style-type: none; 
}

#messages li { 
	font: 20px Helvetica, Arial; 
	padding: 10px 15px; 
	color:#3A5FCD; 
}
#messages .li_action { 
	font: 13px Helvetica, Arial; 
	padding: 5px 10px; 
	text-align:center; 
	color:#8A8A8A; 
}
#messages .li_private { 
	color: #FF0000; 
}
#messages .li_at { 
	color: #66CD00; 
}
#messages li:nth-child(odd) { 
	background: #eee; 
}
#messages .username:hover{ 
	cursor: pointer; 
}
#messages .glyphicon-minus:hover{ 
	color: #FF0000;
	cursor: pointer; 
}

form input {
	border: 10px solid #000;
	bottom: 0;
	height: 60px;
	left: 0;
	outline: none;
	padding-left: 10px;
	position: absolute;
	right: 0;
	width: 80%;
}

form #send {
	border: 10px solid #000;
	bottom: 0;
	height: 60px;
	outline: none;
	padding-left: 10px;
	position: absolute;
	right: 10%;
	width: 10%;
}

form #alter {
	border: 10px solid #000;
	bottom: 0;
	height: 60px;
	outline: none;
	padding-left: 10px;
	position: absolute;
	right: 0px;
	width: 10%;
}
